.projectsPage{
    padding-top: max( 10% , 60px );
    position: relative;
    height: max-content;
    overflow: hidden;

    &>h1{
        color: var(--foreground-color2);
        text-align: center;
        font-family: monospace;
        font-size: max( 70px , 10%);
        font-weight: bolder;
        text-shadow: 0px 0px 6px var(--foreground-color2);
        margin: 0 0 20px 0;
    }

    .projectsContainer{
        margin-bottom: 10px;
        width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2%;

        .projectCard{
            // width: 30%;
            width: 25%;
            min-width: 300px;
            min-height: 400px;
            border: 1px solid var(--foreground-color1);
            // border-radius: 50px;
            position: relative;
            margin-top: 10px;
            background-color: var(--background-color2);
            overflow: hidden;
            transition: transform .5s ease-in;

            &>img{
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 1.5s ease;
                object-fit:cover;
            }
            

            &:hover{
                transform: scale(1.05);

                img{
                    opacity: .3;
                }

                h1::before{
                    transform: translateX(0);
                }
                h1::after{
                    opacity: 1;
                }
                p{
                    bottom: 2%;
                }
                a>button{
                    opacity: 1;
                }
            }

            h1,p{
                position: absolute;
                color: var(--foreground-color1);
            }

            a{
                button{
                    font-size: 18px;
                    font-weight: bolder;
                    height: 40px;
                    width: 100px;
                    color: var(--foreground-color1);
                    background-color: transparent;
                    cursor: pointer;
                    border: 1px solid var(--foreground-color1);
                    opacity: 0;
                    transition: opacity .3s ease-in-out;

                    &:hover{
                        background-color: #1f1f1f;
                    }
                }
                z-index: 2;
                text-decoration: none;
                position: absolute;
                bottom: 10px ;
                right: 10px;
            }

            h1{
                font-family: sans-serif;
                position: relative;
                left: 4%;
                width: 96%;
                font-size: 30px;
                text-shadow: 0px 0px 2px var(--foreground-color1);
                height: min-content;
                margin: 10px 0 0 0;
                font-weight: bolder;
                opacity: .9;

                &::before{
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: -4%;
                    width: 100%;
                    height: 3px;
                    background-color: var(--foreground-color1);
                    transform: translateX(-100%);
                    transition: transform .5s .5s ease-in;
                }

                &::after{
                    content: attr(id);
                    text-shadow: none;
                    color: var(--foreground-color1);
                    font-size: 28px;
                    font-weight: 300;
                    font-family: sans-serif;
                    position: absolute;
                    transform: translateY(calc( 2ch + 10px ));
                    left: 0%;
                    opacity: 0;
                    width: 97%;
                    transition: all 1s ease-in;
                }
            }

            p{
                bottom : -50%;
                left: 3%;
                width: calc( 97% - 110px );
                transition: all 1s ease-in;
                letter-spacing: 3px;
            }
        }
    }

    
        
        .front-stars,.middle-stars,.far-stars{
            width: 100%;
            height: 100rem;
            position: absolute;
            bottom: 0;
            left: 0;

            &>div{
                box-shadow: 0 0 10px var(--foreground-color1);
                position: absolute;
                border-radius: 10px;
                background-color: var(--foreground-color1);
            }
            @keyframes anim2 {
                90%{
                    opacity: 0.5;
                }
                100%{
                    transform:translateY(-250vh);
                    opacity: 0;
                }
            }

            .type1{
                animation: 15s ease infinite anim2;
            }
            .type2{
                animation-delay: 25s;
                animation: 20s ease-in infinite anim2;
            }
            .type3{
                animation-delay: 10s;
                animation: 30s ease-in infinite anim2;
            }
        }
        .front-stars>div{
            width: 4px;
            height: 4px;
            opacity: 0.8;
        }
        .middle-stars>div{
            width: 3px;
            height: 3px;
            opacity: .4;
        }
        .far-stars>div{
            width: 2px;
            height: 2px;
            opacity: .6;
        }
}