.contactSection{
    width: 100%;
    height: max-content;
    padding: 10px 0;
    box-shadow: 0 1px 1px var(--foreground-color1) inset;
    position: relative;

    .title{
        position: absolute;
        display: flex;
        margin: 0 0 0 5px;
        padding: 0;
        color: var(--foreground-color1);
        width: 1ch;
        flex-wrap: wrap;

        >h1{
            font-size: 20px;
            display: inline-block;
            margin: 0;
            padding: 0;
        }
    }
    
    .mainSection{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .logo{
            width: 30ch;
            display: inline-block;
            img{
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin: 0 auto;
                display: block;
                padding-bottom: 10px;
                border-bottom: 3px solid var(--foreground-color1);
            }
            p{
                font-size: 20px;
                text-align: center;
                color: var(--foreground-color1);
                
            }
        }

        
    }
    .contact{
        text-align: center;
        width: max-content;
        height: 35px;
        margin: 20px auto;
        font-size: 30px;
        color: var(--background-color1);
        position: relative;

        &::after{
            content: attr(id);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: var(--foreground-color1);
        }
    }
}