<div class="contactSection">
    <div class="title">
        <h1>C</h1>
        <h1>O</h1>
        <h1>N</h1>
        <h1>T</h1>
        <h1>A</h1>
        <h1>C</h1>
        <h1>T</h1>
        <div>
            <h1>I</h1>
            <h1>N</h1>
            <h1>F</h1>
            <h1>O</h1>
        </div>
    </div>
    <div class="mainSection">
        <div class="logo">
            <img alt="github logo" src="assets/github.png"/>
            <p>noro129</p>
        </div>
        <div class="logo">
            <img alt="email logo" src="assets/email.png"/>
            <p>errazi111@gmail.com</p>
        </div>
        <div class="logo">
            <img alt="phone logo" src="assets/phone.png"/>
            <p>+212694105029</p>
        </div>
        <div class="logo">
            <img alt="linkedin logo" src="assets/linkedin.png"/>
            <p>Oussama Errazi</p>
        </div>
    </div>
</div>