nav{
    height: 10%;
    min-height: 60px;
    width: 100%;
    background-color: var(--background-color1);
    border-bottom: 2px solid var(--foreground-color1);
    color: var(--foreground-color1);
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    animation: anim1 1s forwards;

    @keyframes anim1 {
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
    }

    img{
        position: absolute;
        right: 2%;
        top: max( 1.5%, 3px);
        width: min(6% , 55px );
        min-width: 48px;
        cursor: pointer;
        display: none;
    }

    >*{
        display: inline-block;
    }

    h1{
        margin: 10px 0 0 20px;
        font-size: 40px;
        cursor: pointer;
        position: relative;
        opacity: 0;
        animation: anim2 .5s 1s forwards;
        &::after{
            content: attr(id);
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: var(--foreground-color2);
            opacity: 0.8;
            transition: all .2s ease-in;
            transform: translate(-4px,-4px);
        }

        &:hover{
            &::after{
                transform: translate(0,0);
            }
        }
    }

    @keyframes anim2 {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .navItems{
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;

        li{
            cursor: pointer;
            display: inline-block;
            text-align: center;
            width: 80px;
            padding: 10px;
            font-size: 18px;
            font-weight: lighter;
            font-family: monospace;
            position: relative;
            margin-left: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            

            &::before{
                content: '';
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: var(--background-color1);
                top: 0;
                left: 0;
            }

            &::after{
                content: '';
                position: absolute;
                z-index: -2;
                width: 100%;
                height: 99%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: var(--foreground-color1);
                top: 2px;
                left: 0px;
                transition: all .2s ease-in;
            }
            &:not(:last-child):hover{
                &::after{
                    transform: translate(-8px,-8px);
                }
            }
            &:last-of-type{
                margin-left: 50px;
                margin-bottom: -10px;
                font-family: sans-serif;
                font-weight: bolder;
                text-shadow: 0 0 2px;
                margin-right: 40px;
                border-radius: unset;
                border-top: 2px solid var(--foreground-color1);
                border-bottom: 2px solid var(--foreground-color1);
                transform: translateY(-10px);
                color: var(--foreground-color1);
                background-color: var(--foreground-color1-alpha2);
                transition: all .4s ease;
                overflow: hidden;
                
                &::before{
                    content: unset;
                }
                &::after{
                    content: '';
                    transition: all .4s linear;
                    width: 100%;
                    height: 50%;
                    background-color: var(--foreground-color1);
                    top: 0;
                    right: 0;
                    left: unset;
                    border-radius: unset;
                    transform: translateX(-100%);
                }
                &::before{
                    content: '';
                    transition: all .4s linear;
                    width: 100%;
                    height: 50%;
                    background-color: var(--foreground-color1);
                    bottom: 0%;
                    top: unset;
                    left: 0%;
                    border-radius: unset;
                    transform: translateX(100%);
                }
                &:hover{
                    color: var(--background-color1);
                    &::after,&::before{
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    .navItems_smallerDevices{
        margin: 0;
        position: absolute;
        min-width: 20ch;
        height: max-content;
        padding: 10px 0;
        top: max( calc( 10% + 10px ) , 70px );
        right: 0;
        background-color: var(--background-color1);
        border-bottom: 2px solid var(--foreground-color1);
        border-top: 2px solid var(--foreground-color1);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        opacity: 0;
        transition: all .2s ease;

        li{
            cursor: pointer;
            list-style: none;
            margin: 2px 0;
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight: 100;
            padding: 5px 0;
            transform: translateX(100%);
            transition: all .4s .2s ease-out;
            background-color: #ffffff07;
        }
    }

    .showNavBar{
        opacity: 1;
        li{
            transform: translateX(0);
        }
    }

    .downloadCV{
        position: absolute;
        width: 30%;
        min-width: 300px;
        height: 200px;
        background-color: var(--background-color1);
        border: 2px solid var(--foreground-color1);
        border-radius: 10px;
        top: max( calc(10% + 20px) , 80px );;
        right: 0;
        z-index: 2;
        display: none;
        opacity: 0;
        transform: translateY(-10px) translateX(-2px);
        transition: all .2s ease;

        button{
            background-color: var(--background-color1);
            border: 1px solid var(--foreground-color1);
            font-size: 25px;
            color: var(--foreground-color1);
            position: absolute;
            
            &::after{
                content: '';
                position: absolute;
                top: 5%;
                left: 2%;
                width: 100%;
                height: 100%;
                border: 1px solid var(--foreground-color1);
            }
        }
        button:nth-of-type(1){
            top: 5px;
            right: 5px;
        }
        button:nth-of-type(2){
            bottom: 20px;
            right: 20px;
        }
        button:nth-of-type(3){
            bottom: 20px;
            left: 20px;
        }

    }
    .displayDownloadOption{
        opacity: 1;
        transform: translateY(10px) translateX(-2px);
        display: block;
    }
}

@media (width<=1050px){
    nav{
        .navItems{
            display: none;
        }
        img{
            display: unset;
        }
    }
}

@media (width<=1406px){
    nav{
        .downloadCV{
            button:nth-of-type(2){
                left: 20px;
            }
            button:nth-of-type(3){
                bottom: 70px;
                right: 20px;
            }
        }
    }
}