:root{
    //option1 Dark Mode
    --background-color1: #121212;
    --background-color2: #101015;
    
    --foreground-color1: #fcfcfc;
    --foreground-color2: #c67d61;

    --foreground-color1-alpha: #fcfcfc70;
    --foreground-color1-alpha2: #fcfcfc0f;
    --foreground-color2-alpha: #c67d6170;
}

body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--background-color1);
}