div{
    width: 100%;
    height: max(100% , 590px);
    font-size: max( 60px , 8vw);
    font-weight: 100;
    color: var(--foreground-color1);
    opacity: .9;
    text-shadow: 0 0 2px var(--background-color2);
    position: relative;
    overflow: hidden;

    &::after{
        content: '';
        z-index: -1;
        position: absolute;
        width: max( 60% , 100vh);
        height: 110%;
        top: -10%;
        left: -1%;
        background-color: var(--background-color2);
        transform: rotateZ(10deg);
    }

    .title{
        font-weight: bold;
        width: 90%;
        margin-top: max( 12% , 70px );
        display: inline-block;
        padding-left: 5%;
        opacity: 0.8;

        &>span{
            background-color: var(--foreground-color2);
        }
    }

    .profile{
        background-color: var(--foreground-color1);
        color: var(--background-color1);
        margin-top: 5%;
        display: block;
        font-size: 20px;
        width: 40%;
        min-width: 220px;
        margin-left: 10%;
        font-style: italic;
        z-index: 0;
        padding: 5px;
        position: relative;

        a{
            font-size: 24px;
            color: var(--background-color1);
        }

        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: -9%;
            left: -7%;
            background-color: var(--foreground-color2);
        }
    }

    .letterP{
        border: 2px solid var(--foreground-color1);
        z-index: 1;
        opacity: .7;
        color: var(--foreground-color2);
        font-size: larger;
        font-family: sans-serif;
        position: relative;
        display: inline-block;
        transform: translateX(70vw) translateY(-20%) rotateZ(45deg) translateY(-10%) scale(2);
        animation: anim1 10s infinite;

        @keyframes anim1 {
            0%{
                transform: translateX(70vw) translateY(-20%) rotateZ(45deg) translateY(-10%) scale(2);
            }
            50%{
                transform: translateX(70vw) translateY(-20%) rotateZ(45deg) translateY(-10%) scale(2) translateX(-20px) translateY(-20px);
            }
        }

        &::after{
            content: 'P';
            color: var(--foreground-color1);
            position: absolute;
            top: 5%;
            left: 5%;
        }
    }
}

@media (max-width: 500px){
    div{
        .letterP{
            display: none;
        }
    }
}